.gitignore
.snakemake/
Panel_of_Normals/
logs/
pbs-torque/
reads/
results/
resources/
stats/
temp/
run_pipeline.sh

*.xlsx
*.png
*.pdf
*.txt
.*
*.vcf.gz
*.vcf.gz.tbi
*.tsv
*.json
*.hdf5
*~
pbs-gatk3/
tools/GermlineCNVCaller/ALL
tools/GermlineCNVCaller/CRAMS_cnv_GermlineCNVCaller.txt
tools/GermlineCNVCaller/EXONS

benchmarks/
concordance/truth_set/
concordance/results_filtered/
concordance/combined_calls/

