LUMPY_HOME=/services/tools/lumpy/20180605/

LUMPY=/services/tools/lumpy/20180605/bin/lumpy
HEXDUMP=/usr/bin/hexdump
SAMBLASTER=samblaster
SAMBAMBA=sambamba
SAMTOOLS=samtools
PYTHON=python2

PAIREND_DISTRO=/services/tools/lumpy/20180605/scripts/pairend_distro.py
BAMGROUPREADS=/services/tools/lumpy/20180605/scripts/bamkit/bamgroupreads.py
BAMFILTERRG=/services/tools/lumpy/20180605/scripts/bamkit/bamfilterrg.py
BAMLIBS=/services/tools/lumpy/20180605/scripts/bamkit/bamlibs.py

